* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.title {
  text-align: center;
  color: royalblue;
  font-size: 20px;
  padding-top: 1rem;
  font-weight: normal;
}

.display-container {
  border: 2px solid rgb(9, 13, 22);
  text-align: right;
  height: 80px;
  padding: 0.4rem;
  margin: 0.8rem;
  border-radius: 0.4rem;
  line-height: 0;
}

.result {
  font-size: 3rem;
  color: rgb(87, 85, 85);
}

.main-container {
  outline: 2px solid gray;
  max-width: 400px;
  margin: 4rem auto;
  border-radius: 0.5rem;
}

.calc-buttons button {
  font-size: 2rem;
  width: 70px;
  height: 70px;
  padding: 0.5rem;
  cursor: pointer;
  background-color: royalblue;

  border-radius: 0.3rem;
  border: none;
  color: white;
  margin: 0.4rem;
}

.key:active {
  color: red;
}

button:active {
  scale: 0.95;
}

.calc-buttons {
  display: flex;
  margin: 0.4rem;
  text-align: right;
  justify-content: right;
}
