* {
  box-sizing: border-box;
}
.display-container {
  border: 2px solid gray;
  text-align: right;
  height: 100px;
  padding: 0.4rem;
  margin: 1rem 0;
  line-height: 0;
}

.display {
  color: grey;
}

.result {
  font-size: 3rem;
}

.main-container {
  max-width: 600px;
  margin: 0 auto;
}

.calc-buttons button {
  font-size: 2rem;
  width: 80px;
  height: 80px;
  padding: 0.5rem;
  cursor: pointer;
  margin-top: 0.6rem;
  margin-right: 0.5rem;
}
